@use '../Patterns/typo_mixins.scss' as patterns;
@use '../Abstract/typo_root.scss' as typo_root;
@use '../Abstract/root.scss' as root;

@for $index from 1 through 6 {
 [data-h#{$index}] {
  all: initial;
  @include patterns.header($index);
 }
}

@each $align in typo_root.$textAligns {
  .text-#{$align} {
    text-align: $align;
  }
}

@each $position in root.$positions {
  .text-divider-#{$position} {
    border-#{$position}: root.$primary-border;

    @if ($position == left or right) {
      padding: 0 calc(typo_root.$xm-font-size * .1);
    }
  }
}