:root {
  --h-primary: 0;
  --h-accent: 220;
  --h-secondary-accent: 45;
  --h-success: 120;
  
  --s-50: 50%;
  --s-75: 75%;
  --s-100: 100%;

  --l-0: 0%;
  --l-50: 50%;
  --l-55: 55%;
  --l-100: 100%;
}

$primary-color: 
  var(--h-primary),
  var(--s-100),
  var(--l-100);

$secondary-color:
  var(--h-primary),
  var(--s-100),
  var(--l-0);

$accent-color:
  var(--h-accent),
  var(--s-50),
  var(--l-50);

$secondary-accent-color:
  var(--h-secondary-accent),
  var(--l-100),
  var(--s-50);

$success-color:
  var(--h-success),
  var(--s-50),
  var(--l-50);

$danger-color:
  var(--h-primary),
  var(--s-75),
  var(--l-55);

$colors: 
  'primary' $primary-color,
  'secondary' $secondary-color,
  'accent' $accent-color,
  'secondary-accent' $secondary-accent-color,
  'success' $success-color,
  'danger' $danger-color;

$primary-border: 1px solid hsl(#{$secondary-color});

$positions: top, right, bottom, left;