@use '../Abstract/typo_root.scss' as *;

@mixin header($type) {
  @each $index, $weight, $size in $fontSizeWeight {
    @if ($type == $index) {
      font-weight: $weight;
      font-size: $size;
    }
  }

  letter-spacing: .15rem;
}