@use '../../Patterns/typo_mixins.scss' as patterns;
@use '../../Abstract/typo_root.scss' as typo_root;
@use '../../Abstract/root.scss' as root;

* {
  font-family: typo_root.$reg-font-family;
  color: hsl(#{root.$secondary-color});
}

@for $index from 1 through 6 {
 [role="heading-#{$index}"],
 .heading-#{index} {
  all: initial;
  font-family: inherit;
  @include patterns.header($index);
 }
}

@each $align in typo_root.$textAligns {
  .text-#{$align} {
    text-align: $align;
  }
}

@each $position in root.$positions {
  .text-divider-#{$position} {
    border-#{$position}: root.$primary-border;

    @if ($position == left or right) {
      padding: 0 calc(typo_root.$xm-font-size * .1);
    }
  }
}

.text {
  font-size: typo_root.$s-font-size;
}

[role="bold"],
.bold {
  font-weight: typo_root.$m-font-weight;
}

[role="strong"],
.strong {
  font-weight: typo_root.$l-font-weight;
}

[role="italic"],
.italic {
  font-style: italic;
}

[role="mark"],
.mark {
  background: hsl(#{root.$secondary-accent-color});
  padding: 0 calc(typo_root.$m-font-size * .1);
}

[role="small-text"],
.small-text {
  font-size: typo_root.$xs-font-size;
}

[role="deleted-text"],
.deleted-text {
  text-decoration: line-through;
}

[role="subscripted-text"],
.subscripted-text {
  font-size: typo_root.$xs-font-size;
  font-weight: typo_root.$s-font-weight;
  vertical-align: sub;
}

[role="supscripted-text"],
.supscripted-text {
  font-size: typo_root.$xs-font-size;
  font-weight: typo_root.$s-font-weight;
  vertical-align: top;
}

[role="quote"],
.quote-text {
  all: unset;
  font-size: calc(typo_root.$s-font-size * .75);
  background: hsl(#{root.$accent-color}, 45%);
  display: block;
  padding: 
    calc(typo_root.$s-font-size * .25)
    calc(typo_root.$s-font-size * .5);

  &::before {
    content: '«';
  }

  &::after {
    content: '»' ' — ' attr(aria-author);
    overflow-wrap: break-word;
  }
}
