@use '../../Abstract/typo_root.scss' as typo_root;
@use '../Utilities/utils.scss' as utils;

[role="list"],
.list {
  all: unset;
  @extend .d-flex;
  flex-direction: column;
  counter-reset: list;

  &[aria-label]:not([aria-label=""])::before {
    content: attr(aria-label)': ';
    font-size: calc(typo_root.$m-font-size * .8);
    cursor: text;
  }

  @each $typeList, $typeMarker in typo_root.$styleList {
    &[type*=#{$typeList}] {
      --marker: #{$typeMarker};
    }
  }

  @each $styleDivider, $divider in typo_root.$listMarkerDividers {
   &[type*=#{$styleDivider}] {
      --divider: "#{$divider}";
    }
  }

  [role="list-item"]::before {
    counter-increment: list;
    content: counters(list, '.', var(--marker))var(--divider);
  }
}