@use '../../Abstract/root.scss' as *;

//?Border
.border {
  border: $primary-border;
}

//?Border Radius
@each $pointType, $point in $abstract-points-1 {
  .br-#{$pointType} {
    border-radius: calc(#{$point} * 10px);
  }
}

//?Border Position
@each $position in $positions {
  .border-#{$position} {
    border-#{$position}: $primary-border;
  }

  .border-#{$position}.border {
    border-#{$position}: 0; 
  }
}

//?Border Size
@each $point in $abstract-points-2 {
  .border-#{$point}.border {
    border: #{$point}px solid hsl(#{$secondary-color});
  }
}

//?Border Position + Size
@each $point in $abstract-points-2 {
  @each $position in $positions {
    .border-#{$position}.border-#{$point} {
      border-#{$position}: #{$point}px solid hsl(#{$secondary-color});
    }

    .border-#{$position}.border-#{$point}.border {
      border-#{$position}: 0;
    }
  }
}

//?Border Colors
@each $colorType, $color in $colors { 
  .border-#{$colorType}.border {
    border: 1px solid hsl(#{$color});
  } 

  //?Border Colors + Positions
  @each $position in $positions {
    .border-#{$colorType}.border-#{$position} {
      border-#{$position}: 1px solid hsl(#{$color});
    }

    .border-#{$colorType}.border-#{$position}.border {
      border-#{$position}: 0;
    }
  }

  //?Border Colors + Size
  @each $point in $abstract-points-2 {
    .border-#{$colorType}.border-#{$point}.border {
      border: #{$point}px solid hsl(#{$color});
    }
  } 
  
   //?Border Colors + Size + Position
   @each $point in $abstract-points-2 {
    @each $position in $positions {
      .border-#{$colorType}.border-#{$point}.border-#{$position} {
        border-#{$position}: #{$point}px solid hsl(#{$color});
      }

      .border-#{$colorType}.border-#{$point}.border-#{$position}.border {
        border-#{$position}: 0;
      }
    }
  }
}